<% if user_signed_in? %>
  <li><%= link_to 'Sign out', signout_path %></li>
<% else %>
  <li><%= link_to 'Sign in', signin_path %></li>
<% end %>
<li active><p class="navbar-text">Sonoma State: Great Homo History Hunt</p></li>
<% if user_signed_in? %>
  <li><p class="navbar-text" id="clock"></p></li>
<% end %>
